<div class="row text-center">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <p>Subscribe to our monthly newsletter</p>
        <form action="POST">
            <input type="email" required class="form-control" name="email" placeholder="Your email address">
            <input style="background-color: black; color: white; margin-top: 10px;" type="submit" value="SUBSCRIBE">
        </form>
    </div>
    <div class="col-md-4"></div>
</div>
<hr>
<div class="row" style="background-color: black; padding: 20px; opacity: 0.9;">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center" style="margin-top: 20px;">
        <a style="color: white;" href="">About</a><br>
        <a style="color: white;" href="">Contact</a>
    </div>
    <div class="col-md-4"></div>
</div>